.carrito{
    color: rgba(0, 0, 0, 0.55) !important;
    height: 1.5rem;
    width: 1.5rem;
    
}

.carrito:hover{
    color: rgba(0, 0, 0, 0.7) !important;
}

.cartCont{
    border: 1px solid rgba(0, 0, 0, 0.175);
    
}

.cartNum{
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    height: 20px;
}